/* https://colorhunt.co/palette/17117 */

.bg-color,
.font-color {
    background-color: #08d9d6;
    color: #252a34;
}

.myName {
    font-family: 'Homemade Apple', cursive;
}

#exam,
#progress {
    display: none;
}